*{
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.header{
    background-color: darkgray;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    text-decoration: none;
    color: white;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 30px;
    margin: 20px;
}

/* Fin del NavBar */

.section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.img1{
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}

.img2{
    width: 100%;
    height: 100%;
    grid-column: 3/4;
    grid-row: 1/2;
}

.img3{
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
}
.img4{
    width: 100%;
    height: 100%;
    grid-column: 3/4;
    grid-row: 3/4;
}
.p{
    font-size: 80px;
    grid-column: 2/3;
    grid-row: 2/3;
}

@media screen and (max-width: 790px){
    .header{
        background-color: darkgray;
        width: 100%;
        height: 188px;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav-link{
        color: white;
        text-decoration: none;
    }
    .logo{
        font-size: 40px;
        font-weight: bold;
        justify-content: center;
        text-decoration: none;
        color: white;
    }
    .nav-menu{
        display: flex;
        margin-right: 40px;
        list-style: none;
    }
    .nav-menu-item{
        font-size: 30px;
        margin: 20px;
    }
    /* Fin NavBar */
    .section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        margin: 20px;
    }
    
    .img1{
        display: none;
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .img2{
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .img3{
        display: none;
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img4{
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .p{
        font-size: 40px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

/* Fin del Body */

.footer{
    position: relative;
    height: 150px;
    width: 100%;
    background-color: lightcoral;
    bottom: 0;
}
.text{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Fin del footer */