*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: darkgray;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    text-decoration: none;
    color: white;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 30px;
    margin: 20px;
}

/* Fin del NavBar */
.section{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.section2{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 20px;
    margin: 20px;
}
.h2{
    font-size: 80px;
}
.img1{
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
}
.img2{
    width: 100%;
    height: 100%;
    grid-column: 5/8;
    grid-row: 1/4;
}
.img3{
    width: 100%;
    height: 100%;
    grid-column: 9/12;
    grid-row: 1/4;
}
.img4{
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 5/8;
}
.img5{
    width: 100%;
    height: 100%;
    grid-column: 5/8;
    grid-row: 5/8;
}
.img6{
    width: 100%;
    height: 100%;
    grid-column: 9/12;
    grid-row: 5/8;
}
.img7{
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 9/12;
}
.img8{
    width: 100%;
    height: 100%;
    grid-column: 5/8;
    grid-row: 9/12;
}
.img9{
    width: 100%;
    height: 100%;
    grid-column: 9/12;
    grid-row: 9/12;
}

@media screen and (max-width: 790px){
    .header{
        background-color: darkgray;
        width: 100%;
        height: 188px;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav-link{
        color: white;
        text-decoration: none;
    }
    .logo{
        font-size: 40px;
        font-weight: bold;
        justify-content: center;
        text-decoration: none;
        color: white;
    }
    .nav-menu{
        display: flex;
        margin-right: 40px;
        list-style: none;
    }
    .nav-menu-item{
        font-size: 30px;
        margin: 20px;
    }

    /* Fin del NavBar */

    .section{
        display: flex;
        justify-content: center;
        margin: 30px;
    }
    .section2{
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(11, 1fr);
        gap: 20px;
        margin: 20px;
    }
    .h2{
        font-size: 40px;
    }
    .img1{
        width: 100%;
        height: 100%;
        grid-column: 1/4;
        grid-row: 1/4;
    }
    .img2{
        width: 100%;
        height: 100%;
        grid-column: 5/8;
        grid-row: 1/4;
    }
    .img3{
        width: 100%;
        height: 100%;
        grid-column: 9/12;
        grid-row: 1/4;
    }
    .img4{
        width: 100%;
        height: 100%;
        grid-column: 1/4;
        grid-row: 5/8;
    }
    .img5{
        width: 100%;
        height: 100%;
        grid-column: 5/8;
        grid-row: 5/8;
    }
    .img6{
        width: 100%;
        height: 100%;
        grid-column: 9/12;
        grid-row: 5/8;
    }
    .img7{
        width: 100%;
        height: 100%;
        grid-column: 1/4;
        grid-row: 9/12;
    }
    .img8{
        width: 100%;
        height: 100%;
        grid-column: 5/8;
        grid-row: 9/12;
    }
    .img9{
        width: 100%;
        height: 100%;
        grid-column: 9/12;
        grid-row: 9/12;
    }
}

/* Fin del Body */

.footer{
    position: relative;
    height: 150px;
    width: 100%;
    background-color: lightcoral;
    bottom: 0;
}
.text{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Fin del Footer*/