*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 45px;
    font-family: 'Shadows Into Light', cursive;
}
body{
    background-color: whitesmoke;
}
.header{
    background-color: #fabbc9;
    height: 80px;
    width: 100%;
}
.nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-menu-item:hover{
    background-color: #cf86ff;
}
.logo{
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 20px;
}
.logo:hover{
    color: black;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.nav-menu-item{
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    transition: background .5s;
}

/* Fin del navbar */

.section{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.subtitulo{
    height: min-content;
    font-weight: bolder;
    font-family: 'Shadows Into Light', cursive;
    border: #fabbc9 solid 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.contenedor{
    height: 800px;
}
.sectionimg{
    margin-bottom: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.img{
      border: #fabbc9 solid 8px;
}

/* Fin del body */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    width: 100%;
    background-color: #fabbc9;
}
.text{
    font-size: 40px;
    color: white;
    
}
.text:hover{
    color: black;
}

/* Fin del footer */

@media screen and (max-width: 1080px) {

    .contenedor{
        height: 1100px;
    }
    .sectionimg{
        margin-bottom: 50px;
        margin-left: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
    .subtitulo{
        font-size: 50px;
    }
}

@media screen and (max-width: 750px) {
    body{
        font-size: 16px;
    }
    .sectionimg{
        margin-bottom: 50px;
        margin-left: 85px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
    }
    .contenedor{
        height: 2040px;
    }
    .subtitulo{
        font-size: 40px;
    }
}
@media screen and (max-width: 420px) {
    
    .sectionimg{
        margin-left: 15px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
    }
    .section{
        width: max-content;
        margin-left: 15px;
    }
}