*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 45px;
    font-family: 'Shadows Into Light', cursive;
}
body{
    background-color: whitesmoke;
}
.header{
    background-color: #fabbc9;
    height: 80px;
    width: 100%;
}
.nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-menu-item:hover{
    background-color: #cf86ff;
}
.logo{
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 20px;
}
.logo:hover{
    color: black;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.nav-menu-item{
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    transition: background .5s;
}

/* Fin del navbar */

.section{
    width: 100%;
}
.h2{
    width: min-content;
    height: min-content;
    font-size: 40px;
    position: relative;
    right: 50%;
    left: 40%;
    padding: 30px;
}
.img{
    margin: 10px;
    border: #fabbc9 solid 8px;
}

/* Fin del Body */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    width: 100%;
    background-color: #fabbc9;
}
.text{
    font-size: 40px;
    color: white;
    
}
.text:hover{
    color: black;
}

/* Fin del footer */