@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 45px;
    font-family: 'Shadows Into Light', cursive;
}
body{
    background-color: whitesmoke;
}

/* Pages */

@import './pages/index';
@import './pages/contacto';
@import './pages/gallery';
@import './pages/shop';
@import './pages/sobrenosotros';

/* Partials */

@import './partials/header';
@import './partials/footer';
