/* Bootstrap estilos a pisar */

.nav{
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
    --bs-nav-link-disabled-color: white;
    display: flex;
    list-style: none;
}
ol, ul, dl{
    margin-top: 0;
    margin-bottom: 0;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
figure {
    margin: 0;
}
h2 {
    margin: 0;
    line-height: 1.5;
}
a{
    color: white;
}
a:hover{
    color: white;
}
/* Bootstrap estilos a pisar */

.div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    .h2{
        width: auto;
        font-size: 80px;
        font-weight: bolder;
        border: #fabbc9 solid 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
    .img{
        width: 500px;
        height: 500px;
        padding: 20px;
        border: #fabbc9 solid 8px;
    }
}

.p{
    margin-bottom: 20px;
}


@media screen and (max-width: 1400px){
    .img{
        width: 400px;
        height: 400px;
        margin: 20px 0px 20px 0px;
    }
}
@media screen and (max-width: 767px){
    .div{
        width: min-content;
        margin-left: 80px;
    }
}
@media screen and (max-width: 575px){
    .div{
        margin-left: 0px;
        margin-top: 85px;
    }
}
@media screen and (max-width: 420px){
    .img{
        width: 300px;
        height: 300px;
    }
    li{
        font-size: 35px;
    }
    .h2{
        font-size: 50px;
    }
}
@media screen and (max-width: 350px){
    .img{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 346px){
    .img{
        width: 200px;
        height: 200px;
    }
    li{
        font-size: 30px;
    }
}
